body {
    margin: 0;
    padding: 0;
    background-color: #ffd384;
    font-family: 'Wendy One', sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
}

#game-scene {
    margin: 0 auto;
    margin-top: 200px;
    opacity: 1;
}

#start-button{
    width: 100px;
    border-radius: 15px;
    color: #fff;
    padding: 25px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 200px;
    z-index: 200;
    cursor: pointer;
    border: none;
    font-family: 'Wendy One', sans-serif;
    font-size: 25px;
    text-decoration: none;
    background-color:rgba(156, 161, 160,0.3);
    animation: glow 1s infinite ;
    transition:0.5s;
}
@keyframes glow{
    0%{
        box-shadow: 5px 5px 20px rgb(255, 171, 115),-5px -5px 20px rgb(255, 171, 115);}

    50%{
        box-shadow: 5px 5px 20px rgb(255, 249, 176),-5px -5px 20px rgb(255, 249, 176)
    }
    100%{
        box-shadow: 5px 5px 20px rgb(255, 171, 115),-5px -5px 20px rgb(255, 171, 115);
    }
}



#play-area {
    margin: 0 auto;
    width: 750px;
    margin-top: 100px;
    opacity: 0;
}


#game-over {
    width: 200px;
    border-radius: 15px;
    color: #fff;
    padding: 25px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 300px;
    z-index: 200;
    cursor: pointer;
    border: none;
    font-family: 'Wendy One', sans-serif;
    font-size: 25px;
    text-decoration: none;
    background-color:rgba(156, 161, 160,0.3);
}

